# Copy this to .env and fill in your values
# NEVER commit .env to GitHub

PORT=3001
SUPABASE_URL=https://tulwescncreiuclmfafv.supabase.co
SUPABASE_SECRET_KEY=your_secret_key_here
NODE_ENV=development
