# Ansible environment variables
# Source this before running playbooks:
#   source .env
#   ansible-playbook playbooks/01_install_k3s.yml
# 
# DO NOT commit .env to version control

export REDIS_PASSWORD="your_secure_redis_password_here"
export GRAFANA_ADMIN_PASSWORD="your_secure_grafana_password_here"
