PORT=3005
SUPABASE_URL=https://tulwescncreiuclmfafv.supabase.co
SUPABASE_SECRET_KEY=your_secret_key_here
KAFKA_BROKER=skillbridge-kafka:9092
NOTIFICATION_DB_HOST=notification-db
NOTIFICATION_DB_PORT=5432
NOTIFICATION_DB_NAME=notificationdb
NOTIFICATION_DB_USER=notification_user
NOTIFICATION_DB_PASSWORD=notification_pass_2026
NODE_ENV=development