PORT=3004
SUPABASE_URL=https://tulwescncreiuclmfafv.supabase.co
SUPABASE_SECRET_KEY=your_secret_key_here
KAFKA_BROKER=skillbridge-kafka:9092
ANTHROPIC_API_KEY=your_anthropic_api_key_here
NODE_ENV=development
